@using Quiz.App.Extensions
@model Quiz.App.Models.InputModels.LoginInputModel

@{
    ViewBag.Title = "Login";
    Layout = "_Layout";
}

<form class="needs-validation" method="post" asp-action="SignIn">
    
    <div class="mb-3">
        @Html.LabelFor(x => x.Username, new {@class = "form-label"})
        @Html.TextBoxFor(x => x.Username, new {@class = "form-control"})
        @Html.ValidationMessageFor(x => x.Username, "", new {@class = "invalid-feedback"})
    </div>
    
    <div class="mb-3">
        @Html.LabelFor(x => x.Password, new {@class = "form-label"})                   
        @Html.PasswordFor(x => x.Password, new {@class = "form-control"})
        @Html.ValidationMessageFor(x => x.Password, "", new {@class = "invalid-feedback"})
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

</form>

@*TODO: Create a view component for this*@
@*Not working*@
@if (ViewData.ModelState.Keys.Contains("identity"))
{
    <div>
        @foreach (var error in ViewData.ModelState.GetErrors())
        {
            <p>@error</p>
        }
    </div>
}