@model Question

@{
    ViewData["Title"] = "Details";
    Layout = "_Layout";
    var haveAnswers = @Model.HaveAnswers();
}

<ul class="list-group">
    <li class="list-group-item">Text: @Model.Text</li>
    <li class="list-group-item">Position: @Model.Index</li>
    <li class="list-group-item">Category: @Model.Category.Name</li>
</ul>

@if (haveAnswers)
{
    <ul class="list-group mt-4">
        <li class="list-group-item">Answers</li>
    
    
        @foreach (var answer in @Model.PossibleAnswers)
        {
            <li class='list-group-item @(answer.IsAnswer ? "bg-success" : "")'>@answer.Answer</li>        
        }
    
    </ul>
}

<a class="btn btn-secondary mt-3" asp-action="Index">Back to list</a>
<a class="btn btn-warning mt-3">Simulate</a>

@if (@Model.CountAnswers() < 4)
{
    <a class="btn btn-primary mt-3" asp-controller="Answer" asp-action="Create" asp-route-questionId="@Model.Id">Add answers</a>
}

