@model Quiz.App.Models.ViewModels.QuestionIndexViewModel

@{
    ViewData["Title"] = "Questions";
    Layout = "_Layout";
}

<a class="btn btn-primary mb-3" asp-action="Create">Add question</a>

<form method="get" asp-action="Index" class="mb-2">
  <div class="mb-3">
    <label class="form-label">Filter by category</label>
    <select class="custom-select" name="categoryId"></select>
  </div>
  
  <button type="submit" class="btn btn-primary">Search</button>
</form>

<table class="table table-bordered">
  <thead>
  <tr>
    <th scope="col">Text</th>
    <th scope="col">Position</th>
    <th scope="col">Category</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  @foreach (var question in @Model.Questions)
  {
    <tr>
      <td>@question.Text</td>
      <td>@question.Index</td>
      <td>@question.CategoryName</td>
      <td>
        <a class="btn btn-info" asp-action="Details" asp-route-id="@question.Id">Details</a>
        <a class="btn btn-warning" asp-action="Update" asp-route-id="@question.Id">Update</a>
      </td>
    </tr>
  }
  </tbody>
</table>

@section Scripts
{
    <script>
        initCategorySelectList('@ViewBag.SelectedCategoryId');
    </script>
}

