@model Question

@{
    ViewData["Title"] = $"Question {@Model.Index + 1}";
    Layout = "_Layout";
}

<h2>@Model.Text</h2>

<form asp-action="SendAnswer" method="post">
    <div class="row">
        @foreach (var answer in @Model.PossibleAnswers)
        {
            <div class="col-sm-6 p-1">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">@answer.Answer</p>
                        <input hidden value="@Model.Id" name="Id">
                        <button type="submit" class="btn btn-success" name="Answer" value="@answer.Answer">Correct</button>
                    </div>
                </div>
            </div> 
        }
    </div>      
</form>