@model Quiz.App.ViewModels.Quiz.ScoreViewModel

@{
    ViewData["Title"] = "Score";
    Layout = "_Layout";
}

<div class="alert alert-primary" role="alert">
    Questions count: @Model.QuestionsCount
</div>

<div class="alert alert-primary" role="alert">
    Correct: @Model.CorrectQuestionsCount
</div>

<div class="alert alert-primary" role="alert">
    Incorrect: @Model.IncorrectQuestionsCount
</div>

<div class="alert alert-secondary" role="alert">
    Time to finish: @Model.TimeToFinish seconds
</div>

@if (@Model.Approved)
{
    <div class="alert alert-success" role="alert">
        You Passed!
    </div>
}
else
{
    <div class="alert alert-danger" role="alert">
        You failure.
    </div>
}

<div class="align-content-center mt-2">
    <a class="btn btn-primary" asp-controller="Quiz" asp-action="Reset">Reset game</a>
</div>        

