@model Quiz.App.Models.ViewModels.UserIndexViewModel

@{
    ViewBag.Title = "Index";
    Layout = "_Layout";
}

<a class="btn btn-primary mb-3" asp-action="Create">Add user</a>

<table class="table table-bordered">
  <thead>
  <tr>
    <th>Id</th>
    <th scope="col">Full Name</th>
    <th scope="col">E-mail</th>
    <th scope="col">Role</th>
  </tr>
  </thead>
  <tbody>
  @foreach (var user in @Model.Users)
  {
    <tr>
      <td>@user.Id</td>
      <td>@user.FullName</td>
      <td>@user.Email</td>
      <td>@user.Role</td>
    </tr>
  }
  </tbody>
</table>


