@model IEnumerable<Quiz.App.Models.ViewModels.Score.ScoreViewModel>

@{
    ViewBag.Title = "Dashboard";
    Layout = "_Layout";
}

<table class="table table-bordered">
  <thead>
  <tr>
    <th scope="col">Category</th>
    <th scope="col">Questions Count</th>
    <th scope="col">Correct Questions</th>
    <th scope="col">Incorrect Questions</th>
    <th scope="col">Time to Finish</th>
    <th scope="col">Passed</th>

  </tr>
  </thead>
  <tbody>
  @foreach (var score in @Model)
  {
    <tr>
      <td>@score.CategoryName</td>
      <td>@score.QuestionsCount</td>
      <td>@score.CorrectQuestionsCount</td>
      <td>@score.IncorrectQuestionsCount</td>
      <td>@score.SecondsToFinish seconds</td>
      <td>@(score.Approved ? "yes" : "no")</td>
    </tr> 
  }
  </tbody>
</table>
